root = true
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
[*.{json,yml,yaml,xml,csproj,props}]
indent_size = 2
[*.sln]
indent_style = tab
[*.{csproj,sln}]
charset = utf-8-bom
[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
